name: Reproduce latest release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *' # every hour

jobs:
  reproduce:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get latest release
        shell: bash
        run: |
          curl --proto '=https' \
               --tlsv1.2 \
               -sSf -L \
               'https://api.github.com/repos/simplex-chat/simplexmq/releases/latest' \
               2>/dev/null | \
          grep -i "tag_name" | \
          awk -F \" '{print "TAG="$4}' >> $GITHUB_ENV

      - name: Execute reproduce script
        run: |
          ${GITHUB_WORKSPACE}/scripts/reproduce-builds.sh "$TAG"

      - name: Check if build has been reproduced
        run: |
          if [ -f "${GITHUB_WORKSPACE}/$TAG/_sha256sums" ]; then
            exit 0
          else
            exit 1
          fi
